@model IEnumerable<EstebanNarvaez_TallerMVC.Models.Estadio>

@{
    ViewData["Title"] = "Agregar Estadios";
}

<h1>Agregar Estadios</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEstadio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionEstadio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CiudadEstadio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacidadEstadio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEstadio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionEstadio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiudadEstadio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadEstadio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
